Source: grml2hd
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: asciidoc, xsltproc, docbook-xsl
Standards-Version: 3.9.4
Homepage: http://grml.org/grml2hd/
Vcs-git: git://git.grml.org/grml2hd.git
Vcs-Browser: http://git.grml.org/?p=grml2hd.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml2hd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lilo, grub | grub-pc, grml-autoconfig, initramfs-tools, file-rc, grml-scripts (>= 0.7-19)
Suggests: grml2hd-utils, grml-x, jfsutils, xfsprogs, reiserfsprogs
Description: make a harddisk installation of grml
 grml2hd is a script that installs a running grml system
 on your hard disk. It just copies the running system
 and does some further magic (adjust user setup, install
 bootloader,..) to get a working harddisk installation of
 grml.
 Please do NOT use grml2hd if you aren't an experienced
 Debian user. Thanks!
 .
 Use it with care! Also take a look at grml2hd-utils.

Package: grml2hd-utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utilities for a Grml system on harddisk
 The scripts provided by this package are useful for
 Grml systems on harddisk.
